* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
    background-image: linear-gradient(45deg,rgb(65,88,208) 0%, rgb(200,80,192) 50%,rgb(255,204,112));
    background-repeat: no-repeat;
    height: 100vh;
}
.btn_modal {
    padding: 20px 40px;
    border: none;
    outline: none;
    border-radius: 6px;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%,-50%);
    font-size: 25px;
    cursor: pointer;
}
.modal {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
}
.modal-hide {
    width: 400px;
    position: relative;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    top: 10%;
}
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: rgb(238, 125, 144);
    color: white;
}
.modal-header i {
    cursor: pointer;
}
.modal-body {
    padding: 15px;

}
.modal-body h2 {
    color: rgb(238, 125, 144);
    padding-bottom: 15px;
}
.modal-footer {
    padding: 15px;
    text-align: right;
}
.modal-footer button {
    padding: 10px 15px;
    background-color: rgb(238, 125, 144);
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}
.hide1 {
    display: none;
}