@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
body {
    font-family: 'Poppins';
    font-style: normal;
    background-image: linear-gradient(to right ,  #3d8880, #4daf54);
    color: white;
    height: 100vh;
    overflow: hidden;
}
.cards {
    /* background-color: black; */
    margin: 120px auto;
    width: 1024px;
    height: 350px;
    display: flex;
    justify-content: space-between;
    /* position: relative; */
}
.card1, .card2,.card3 {
    border-radius: 15px;
    margin: 0px 25px;
    width: 33%;
    min-height: 420px;
    background-color: #272d40;
    text-align: center;

}
.card_img {
    width: 90%;
    transform: translateX(13px);
    margin-top: 20px;
}
img {
    width: 60%;
    height: 100%;
    border: 4px solid rgba(223, 127, 143, 0.8);
    border-radius: 50%;
}
.card_title {
    margin-top: -20px;
}
.card_title p {
    margin-top: -15px;
    font-size: 15px;
    color: rgba(223, 127, 143, 0.8) ;
}
.card_icon {
    display: flex;
    justify-content: center;
    /* background-color: #4daf54; */
}
.icon_hover {
    margin-top: -10px;
    padding: 20px;
}
.fa-brands {
    cursor: pointer;
}
.card_button {
    margin-top: 15px;
}
.card_button button {
    cursor: pointer;
    color: white;
    background-color: #272d40 ;
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid rgba(223, 127, 143, 0.8);
}